body{
    background-color: rgb(255,222,173);
}

#Novel{
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0px;
    background-color: rgba(0,0,0,0);
    cursor:pointer;
}

#Ami_button{
    outline: 0;
    border: 0;
    padding-left: 20%;
    padding-right: 20%;
}